---
import ExperienceItem from "../components/ExperienceItem.astro"
const EXPERIENCIE = [
    {
        date: "Julio 2023 - Actualmente",
        title: "Fullstack Developer",
        company: "Tragsatec",
        description:
            "Desarrollo de aplicaciones web para la gesti贸n de proyectos de ambito sanitario. Mejoras funcionales y de rendimiento. Automatizaci贸n de procesos.",
        link: "https://www.tragsa.es/es/Paginas/default.aspx",
    },
    {
        date: "Abril 2023 - Junio 2023",
        title: "Backend Developer",
        company: "Minderest",
        description:
            "Desarrollo de nuevas funcionalidades y resoluci贸n de incidencias. Mejoras de usabilidad y rendimiento. Automatizaci贸n de procesos.",
        link: "https://www.minderest.com",
    },
]
---
<ul class="m-3 border-l-2 border-glacier-400  from-indigo-500 ">
    {
        EXPERIENCIE.map((item) => (
                <li>
                    <ExperienceItem {...item}/>
                </li>
        ))
    }
</ul>