---
import Header from "../sections/Header.astro"
import Footer from "../sections/Footer.astro"
import {ViewTransitions} from "astro:transitions"
import SpeedInsights from "@vercel/speed-insights/astro"


interface Props {
    title: string
    description: string
}

const {description, title} = Astro.props
---
<!doctype html>
<html lang="es" style="background-color: rgb(3 7 18);">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content={description}/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <link rel="canonical" href="http://www.martinginer.com/">
    <meta property="og:description" content="Contrata a Martín para crear tu aplicación web o móvil. Desarrollador Web. Especializado en crear aplicaciones."/>
    <meta property="og:title" content="Porfolio de Martin Giner Navarro"/>
    <title>{title}</title>
    <ViewTransitions/>
    <SpeedInsights/>
</head>
<body class="relative text-white">
<div
        class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full  bg-gray-950
      bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(119,176,198,0.3),rgba(255,255,255,0))] "
>
</div>
<Header/>
<slot/>
<Footer/>
<style is:global>
    :root {
        color-scheme: light dark;
        --color-primary: #77b0c680;
        --color-secondary: #C68D77;
    }

    * {
        caret-color: transparent;
    }
</style>
</body>
</html>
